.main-text,
.hero-lead {
  width: 120%;
}

.hero-section {
  margin-bottom: 1rem;
}

.overflow-protection {
  overflow: hidden;
}

.hero-lead {
  color: var(--grayish-violet);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.btn-hero {
  font-size: 1.3rem;
  margin: 2.5rem 0;
  margin-bottom: 1.5rem;
  padding: 1rem 2.5rem;
}

.image-area {
  width: 40%;
}

.text-area {
  margin-top: 3rem;
  width: 45%;
}

@media (max-width: 500px) {
  .hero-section .flex-space-between {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  .image-area {
    transform: scale(0.75);
    padding-left: 1rem;
  }
  .text-area {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-text {
    text-align: center;
    padding: 1rem;
    padding-top: 0;
    line-height: 3rem;
    width: 100%;
    font-size: 2.5rem;
  }
  .hero-lead {
    margin: 0;
    margin-bottom: 1rem;
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
  }
  .btn-hero {
    margin: 1rem 0;
  }
}
