.shortener {
  background-color: #eff1f7;
  margin-top: 7rem;
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
}

.input-box {
  box-sizing: border-box;
  z-index: 10;
  transform: translateY(-5rem);
  background-color: var(--dark-violet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 1rem;
  background-image: url("../../assets/bg-shorten-desktop.svg");
  background-repeat: round;
  border-radius: 0.7rem;
}

.input-form {
  box-sizing: border-box;
  margin: 0 2.5rem;
  transform: translateY(0.5rem);
  display: flex;
  gap: 2.5rem;
}

.btn-form {
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 20%;
  padding: 1.15rem 2.5rem;
  border-radius: 0.5rem;
}

.btn-form:disabled {
  cursor: not-allowed;
}

.input {
  box-sizing: border-box;
  font-size: 1.4rem;
  padding: 0.7rem 2.5rem;
  width: 80%;
  border-radius: 1rem;
  font-weight: 500;
  color: var(--grayish-violet);
  border: 0.2rem solid #00000000;
}
.input-error,
.input-error:focus {
  color: var(--red);
  border: 0.2rem solid var(--red) !important;
}
.input-error::placeholder {
  color: var(--red);
}

.input:focus {
  outline: none;
  border: 0.2rem solid var(--grayish-violet);
}

.error-message {
  justify-self: left;
  align-self: start;
  margin-top: 0.8rem;
  padding: 0rem 3rem;
  font-weight: 500;
  color: var(--red);
  font-style: italic;
}

/* result css */

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.result-url-item {
  z-index: -10;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 0.3s ease-in slide-down;
}

.btn-copy {
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  width: 7rem;
  text-align: center;
}

.shorten-url {
  color: var(--cyan);
  margin: 0;
}

.shorten-url::selection {
  display: none;
}

.original-url {
  color: var(--dark-violet);
  overflow: hidden;
  max-width: 60%;
  height: 1.5rem;
}

.shorten-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result-box {
  transform: translateY(-5rem);
}

textarea {
  font-size: 1.5rem;
  width: 18rem;
  overflow: hidden;
  height: 1.5rem;
  border: none;
  letter-spacing: -1px;
  text-decoration: none;
  resize: none;
}
textarea:focus {
  outline: none;
}

.btn-dark {
  background-color: var(--dark-violet);
}

.btn-dark:hover {
  background-color: var(--dark-violet);
  opacity: 0.6;
}

.btn-dark:focus {
  background-color: var(--dark-violet);
}

@media (max-width: 500px) {
  .shortener {
    margin-top: 7rem;
  }

  .shortener .container {
    padding: 1rem;
    padding-bottom: 0;
  }
  .input-box {
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .input-form {
    flex-direction: column;
    width: 90%;
    gap: 1.5rem;
    padding-bottom: 1rem;
    /* remove top */
  }

  .input {
    border-radius: 0.5rem;
    font-size: 1rem;
    margin: 0.1rem 0;
    width: 100%;
    padding: 0.7rem 1rem;
  }

  .btn-form {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }
  .error-message {
    padding: 1rem;
    top: 27%;
    left: 2%;
    position: absolute;
  }

  /* result box */

  .result-url-item {
    flex-direction: column;
  }
  .shorten-copy {
    flex-direction: column;
    align-items: unset;
    overflow: hidden;
    width: 100%;
  }
  .original-url {
    width: 100%;
    margin: 1rem 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    text-align: left;
  }
  .shorten-url {
    margin: 1rem 0;
  }
  .btn-copy {
    width: 100%;
  }
  .dark-line {
    width: 100%;
    display: block;
    border-bottom: 1px solid var(--gray);
  }
}
