.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--grayish-violet);
  margin: 0 1rem;
  transition: 0.1s ease-in color;
}

.btn {
  color: white;
  background-color: var(--cyan);
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2.3rem;
  transition: 0.1s ease-in background-color;
  cursor: pointer;
}

.btn:hover {
  background-color: #7fe2e2;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

h1 {
  line-height: 5.5rem;
  font-size: 5rem;
  font-weight: 700;
  color: var(--dark-violet);
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.text-center {
  text-align: center;
}
